Vaccination Booking system
================================================================

- Create a Vaccination centre. A VC should have a fixed capapcity for nay particular day.
- User can see all the VC for a district.
- User can book a vaccinnation centre for a particular day.
- if user has already booked some slot/ if user is already vaccinated , he cannot book further.
- On the date of booking, user should be above 18.
- Console application.


Entities:
Vaccination Centre{
  id
  district
  address 
  capapcity map<date, capacity>
  bookings map<date, list<user>>
}


User{
    id
    name
    dob
    isVaccinated
    booking map<date, VC>
}

Booking{
    user
    VC
    date
}

